<main>
  <title>Angular</title>
  <h1>Tarea 9</h1>
  <p>Pokémon es una franquicia de medios creada por Nintendo y Satoshi Tajiri en 1995. 
    La franquicia se centra en criaturas ficticias llamadas "Pokémon", que los seres humanos, conocidos como "entrenadores Pokémon", capturan y entrenan para combatir entre sí en un deporte ficticio. 
    La serie de juegos de Pokémon ha sido extremadamente popular en todo el mundo, y ha dado lugar a una variedad de productos derivados, como la serie de televisión, películas, juguetes y juegos de cartas coleccionables. La franquicia se ha expandido a lo largo de los años con la incorporación de nuevas regiones, personajes y Pokémon, y ha mantenido una gran base de seguidores leales.</p>

</main>
<app-trabajo1></app-trabajo1>